 .clearfix{
     clear:both;
 }
#mobile-nav{
    display:none;
}
.navbar-header h2:hover{
    color:green;
    text-decoration: none;
    text-transform: none;
}
nav{
    background:transparent;
    background-color:none;
}
nav h2{
    font-size:18px;
}
.nav {
    margin-right:6%;
}
.modal{
    border-radius:10px;
    width:40%;
    height:430px;
}
.modal .modal-header h2{
    margin-left:10%;
}
.modal form{
    margin:0 5% 0 10%;
    width:80%;
}
.modal form .input-field{
    margin-top:10%;
}
.modal form label{
    margin:0 0 0 30%;
    color:black;
    font-size:1.2em;
   font-weight:500;

}
.modal form label input{
    margin-left:20%;
}
.modal form .btn{
    margin:0 10% 4% 40%;
}

body{
    font-family:'Roboto';
}
.slider{
    margin-top:5%;
    width:95%;
    margin-left:2.5%;
    margin-right:2.5%;
}
.courses{
    margin:7% 0 5% 0;
}

.courses h2{
    color:black;
    margin-left:40%;
    letter-spacing:0.025em;
}
#card1{
    width:80%;
    box-shadow: 1px 1px 1px #00e676;
   
}
#card1:hover{
    background-color:#f1f8e9;
    
}
.timer{
   margin:7% 0 4% 0;
   
}
.timer h2{
    margin-top:1%;
}
#timer{
    width:30%;
     margin-left:36.5%;
}
.info{
     margin:7% 0 5% 5%;
}
.info h3{
    margin-left:20%;
}
.instructors{
    margin:7% 0 5% 15%;

}
#card2{
    width:80%;
      box-shadow: 1px 1px 1px #00e676;
}

 footer{
     
     color:white;
 }
 /* Registration */

 #registration{
     margin:5% 0 10% 10%;
      font-family:'Square721 Cn Bt';
 }
 #registration h2{
     margin-left:5%;
     padding-left:3%;
     width:80%;
      font-family:'Agency FB';
 }
 #registration hr{
     margin-right:10%;
 }
 #registration form{
     width:70%;
     margin:5% 0 5% 10%;
     padding:3%;
     border-radius:10px;
     box-shadow: 1px 1px 1px 1px #005c00;
 }
 #registration form label{
     margin:0 0 0 2%;
     font-size:1.1em;
     color:black;
 }
 #registration .input-field{
     margin-top:2%;
 }
 #registration form input{
      margin:3% 0 0 0;
 }
 #registration form .btn{
     margin:5% 0 0 40%;
 }

 /* Dashboard */
.dashboard_page{
    width:90%;
     margin-left:5%;
     margin-bottom:5%;

}
 .banner{
     height:350px;
    
    
 }
 .banner h2{
     padding-top:2%;
 }
 .banner #banner_header h2{
      font-family:'Agency FB';
      font-weight:600;
 }
 .banner img{
     width:97.5%;
     height:200px;
      margin:3% 2.5% 5% 0%;
 }
 #breadcrumb{
     margin:0 0 0.5% 0;
     width:97.5%;
 }
 #sidebar{
     margin:0 2.5% 0 0 ;
    
     
 }
 #sidebar .card-content img{
     margin:5% 0 10% 20%;
 }
 #sidebar .card-content p{
     padding:5% 0 5% 30%;
     font-weight:600;
     text-transform:capitalize;
 }
 #sidebar .card-footer{
     margin:55% 0 0 0;
 }
 #dashboard_content{
     padding:0 0 0 0%;
     margin-left:2%;
     height:100%;
 }
 #dashboard_content ul li a:hover{
     background-color:green;
 }
 #dashboard_content1{
     padding:0 5% 0 5%;
 }
 .nav-content .tab{
     margin-left:10%;
 }
 #courses h4{
     padding:2% 0 2% 5%;
     margin-top:3%;
     font-weight:500;
     font-family:'Agency FB';
      }
 #courses #class{
      font-family:'Square721 Cn Bt';
     
     width:95%;
    
     padding:0px;
     margin:1% 10% 0 0;
 }
 #class #course_img img{
     height:200px;
     width:100%;
     margin:0px;
     padding:0px;
    
    
 }
 #class #instructors_img{
     margin-bottom:10%;
 }
  #class #instructors_img img{
     width:100px;
     height:100px;
     border-radius:50%;
     margin:-20% 0 0 30%;
   
 }
 #class #instructors_img h5{
      font-weight:600;
     margin:0 0 0 38%;
 }
 #class #instructors_img span h5{
      margin:0 0 0 35%;
       font-weight:500;

 }
 #course_info{
     width:100%;
     margin:15% 0 0 0%;
     padding:5% 5% 5% 5%;
 }
 #course_info  .progress-bar{
     margin:5% 0 0 10%;
     width:60%;
 }
 #course_info h3{
      font-weight:600;
 }
 #course_info h4{
     margin:10% 0 0 15%;
      font-weight:500;
 }
 #courses #course_detail{
   width:100%;
   height:400px;
    margin:1% 10% 0 0;
  
 }
 #courses #course_detail #course_desc{
      padding:10% 0 0 10%;

 }
 #assignment h4{
     padding:2% 0 2% 5%;
     margin-top:3%;
     font-weight:500;
      font-family:'Agency FB';
      }
       #assignment #assign{
      font-family:'Square721 Cn Bt';
     
     width:90%;
     height:600px;
     margin:1% 10% 0 0;
 }
 #assign .card-content{
     padding:5% 10% 5% 10%;
 }
  #settings h4{
     padding:2% 0 2% 5%;
     margin-top:3%;
     font-weight:500;
      font-family:'Agency FB';
      }
       #settings #set{
      font-family:'Square721 Cn Bt';
     
     width:100%;
    
     margin:1% 10% 0 0;
 }
 #settings #set form label{
     font-weight:600;
     color:black;
     letter-spacing:1px;
       font-size:0.9em;
 }
 #settings #set form  button{
     margin:5% 0 5% 15%;
     width:25%;
     font-weight:600;
 }
 #change_password label{
     font-weight:600;
     color:black;
      letter-spacing:1px;
        font-size:0.9em;

 }
 #avatar .card{
     width:80%;
     margin:0 0 0 30%;
   
 }
#change_password .card{
    width:60%;
    margin:5% 0 0 5%;
}
@media only screen and (max-width:480px){
 .nav {
    margin-right:2%;
}
#nav1{
    display:none;
}
#mobile-nav{
    display:block;
}

#card1{
    width:100%;
   
}
#card1 span{
    width:60%;
    font-size:2em;
    height:70px;
}
#card1 .btn{
    width:50%;
     font-size:1em;
 

}
.courses h2{
    color:black;
    margin-left:15%;
}

.timer{
   margin:7% 0 4% 0;
   
}
.timer h2{
    margin-left:12%;
}

#timer{
    width:80%;
     margin-left:10%;
    
}
.instructors{
    margin:7% 0 5% 5%;

}

#card2{
    width:100%;
}

.modal{
    border-radius:10px;
    width:80%;
    height:380px;
}

/* Registration */

 #registration form{
     width:90%;
     margin:5% 0 5% 0%;
     padding:5%;
     border-radius:10px;
 }
  #registration form label{
     margin:0 0 0 0;
     font-size:1em;
     color:black;
 }

 /*Dashboard */

.banner{
    height:auto;
}
.banner img{
    display:none;
 }
 .banner h2{
     margin:5% 0 5% 0;
 }
 #sidebar{
     margin:0 0 8% 0;
 }
 #sidebar .card-footer{
     margin:5% 0 0 0;
 }
  #dashboard_content{
     padding:0 0 0 3%;
     width:95%;
     height:100%;
 }

 .nav-content .tab{
     margin-left:0%;
     width:80%;
    
 }

 .nav-content .tabs .tab a{
      font-size:0.85em;
 }
  #courses h4, #assignment h4, #settings h4{
      margin:7% 0 4% 0;
  }
  #courses #course_detail{
   width:95%;
   height:400px;
    margin:1% 10% 0 0;
  
 }


 #avatar .card{
     width:70%;
     margin:0 0 0 15%;
   
 }
 
  #settings #set form  button{
     margin:5% 0 5% 15%;
     width:30%;
     font-weight:600;
 }

#change_password .card{
    width:80%;
    margin:5% 0 0 5%;
}



}




@media only screen and (max-width:768px) and (min-width:481px){



}

@media only screen and (max-width:1024px) and (min-width:769px){
 

}
